/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 16, 2014, 6:24:01 PM
    Author     : Isht.Ae
*/

body, html {
    background: #FFF;
}

.header {
    height: 46px;
    border-bottom: 3px solid #1979CA;
    margin-bottom: 3px;
}


.header-body {
    background: #8fc400;
}

div.header-logo {
    font-size: 20px;
    padding: -10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}

.header-logo img{
    float: left;
    margin: 5px 0px 3px 5px;
}

div.header-logo h1 {
    color: #F9F9F9;
    font-weight: normal;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Verdana;
    border-bottom: none !important;
    margin: 12px 5px 0px 5px;
    padding: 0px;
    float: left
}

div.cabang-display {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    float: right;
    margin: 11px 10px 0px 0px;
}

.imagefieldthumb {
    width: 170px;
    margin: 5px 0 0 0;
    border: 1px solid #d2d2d2;
    height: 85px;
    background: #f2f2f2;
}

/*PENGADAAN COLOR*/

.x-grid-row.peng-null .x-grid-cell {
    background-color: #FF0000;
    color: #FFF;
}

.x-grid-row.peng-div .x-grid-cell {
    background-color: #0000FF;
    color: #FFF;
}

.x-grid-row.peng-pusat .x-grid-cell {
    background-color: #CE7F00;
    color: #FFF;
}

.x-grid-row.peng-pobag .x-grid-cell {
    background-color: #48FF00;
    color: #000;
}

.x-grid-row.peng-poall .x-grid-cell {
    background-color: #FEFEFE;
    color: #000;
}

.x-grid-row.peng-grey .x-grid-cell {
    background-color: grey;
    color: #FFF;
}


